body {
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    gap: 20px; 
    padding: 10px;
    box-sizing: border-box;
}

.box {
    flex: 1;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.left {
    background: #4db6ac; 
}

.right {
    background: #ba68c8; 
}