.row {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.box {
    padding: 20px;
    text-align: center;
    color: white;
}

.red { background: #e57373; flex: 1; }
.blue { background: #64b5f6; flex: 2; }
.green { background: #4db6ac; flex: 1; }
.gray { background: #9e9e9e; flex: 1; }